<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635939585363-om1tgp1pkl0hhknfl38j9k9ctsujluus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635939585363-om1tgp1pkl0hhknfl38j9k9ctsujluus</string>
	<key>API_KEY</key>
	<string>AIzaSyDiRxDIoVoXrcT5x0ButWp_3PmcoRVgjAs</string>
	<key>GCM_SENDER_ID</key>
	<string>635939585363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hireDorm.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hiredorm-5d045</string>
	<key>STORAGE_BUCKET</key>
	<string>hiredorm-5d045.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635939585363:ios:d19a7e9001734161f435a6</string>
</dict>
</plist>